* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "space grotesk", sans-serif;
    width: 100%;
    height: 100vh;
}

.bgImage {
    background: url('./images/bg-main-mobile.png') no-repeat center center/cover;
    width: 100%;
    height: 15rem; /* 240px converted to rem assuming 1rem = 16px */
}

img{
    width: 285px;

}



.cardContainer{
    width: 343px;
    height: 251px;
    border: solid red;
}

input:invalid {
    border: 0.125rem solid red; /* 2px converted to rem assuming 1rem = 16px */
}

@media (min-width: 768px) {
    .bgImage {
        background: url('./images/bg-main-desktop.png');
        height: 20rem; /* Adjusted height for larger screens */
    }

    .cardContainer {
        width: 400px;
        height: 300px;
    }
}
